* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#breadcrumb {
  position: absolute;
  top: 70px;
  left: 120px;
}

.employee-table {
  width: 100vw;
  height: 100vh;
  padding: 0px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title p {
  font-size: 2rem;
  font-weight: 700;
}
