* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#breadcrumb {
  position: absolute;
  top: 70px;
  left: 120px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.projects-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120px;
  left: 270px;
}

.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#projects {
  width: 1000px;
  max-height: 700px;
}

.scrollable {
  width: 1000px;
  height: 500px;
  overflow-y: scroll;
}
