<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        form {
            margin: 20px 0;
            padding: 5rem;
            padding-top: 3rem;
            margin-top: 1rem;
            
        }

        .form-group {
            margin-bottom: 25px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        select, input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .calendar-input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .form-group:last-child {
            margin-bottom: 0;
        }

        button {

            display: flex;

            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 18px;
            margin: auto;

        }

        #reason{
                width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Leave Application Form</h2>
        <form action="/api/leaves/createLeaveform" method="POST">
            <div class="form-group">
                <label for="leave_application_employee_id">Employee ID</label>
                <input type="text" id="leave_application_employee_id" name="leave_application_employee_id" required>
            </div>
            <div class="form-group">
                <label for="leave_type">Leave Type</label>
                <select id="leave_type" name="leave_type" required onchange="optionSelected()">
                    <option></option>
                    <option value="Casual">Casual</option>
                    <option value="Floater">Floater</option>
                    <option value="Sick">Sick</option>
                </select>
            </div>
            <div class="form-group">
                <label for="from_date">From Date</label>
                <input type="date" id="from_date" name="from_date" class="calendar-input" required>
            </div>
            <div class="form-group">
                <label for="till_date">To Date</label>
                <input type="date" id="till_date" name="till_date" class="calendar-input" required>
            </div>
            <div class="form-group">
                <label for="reason">Reason for Leave</label>
                <textarea id="reason" name="reason" rows="4" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="../scripts/leaveform.js"></script>
</body>
</html>
