<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <button id="home" class="btn btn-link">Home</button>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Add Employee
        </li>
    </ol>
</nav>

<div class="new-employee">
    <div class="title">
        <p>Create a user</p>
    </div>
    <form class="row g-3" action="/api/employee/createEmployee" method="post">
        <div class="col-md-6">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Employee name" name="employee_name" />
        </div>
        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Company email" name="email" />
        </div>
        <div class="col-6">
            <label for="inputPhone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="inputPhone" placeholder="+91 0000000000"
                name="phone_number" />
        </div>
        <div class="col-6">
            <label for="inputReporting" class="form-label">Reporting to</label>
            <input type="number" class="form-control" id="inputReporting" placeholder="Employee ID"
                name="reporting_employee_id" />
        </div>
        <div class="col-md-6">
            <label for="inputRole" class="form-label">Role</label>
            <select id="inputRole" class="form-select" name="role">
                <option>user</option>
                <option>admin</option>
                <option>superadmin</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputDept" class="form-label">Department</label>
            <select id="inputDept" class="form-select" name="department">
                <option selected></option>
                <option>Web</option>
                <option>Android</option>
                <option>IOS</option>
                <option>Design</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<script>
    document.title = 'Project Management Tool | Add Employee'
</script>
<script src="/scripts/breadcrumb-nav.js"></script>