<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" id="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <button id="home" class="btn btn-link">Home</button>
        </li>
        <li class="breadcrumb-item">
            <a href="/api/employee/viewAllEmployees">View Employees</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Employee Details
        </li>
    </ol>
</nav>

<div class="employee-details">
    <div class="personal-details">
        <form class="row g-3" action="/api/auth/" method="post">
            <fieldset disabled>
                <div class="col-md-12" id="input">
                    <label for="inputId" class="form-label">Employee ID</label>
                    <input type="number" class="form-control" id="inputId" name="employee_id" />
                </div>

                <div class="col-md-12" id="input">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" name="email" />
                </div>
            </fieldset>
            <div class="col-md-12" id="input">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName" name="employee_name" />
            </div>

            <div class="col-md-12" id="input">
                <label for="inputDepartment" class="form-label">Department</label>
                <input type="text" class="form-control" id="inputDepartment" name="department" />
            </div>

            <div class="col-md-12" id="input">
                <label for="inputPhone" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="inputPhone" name="phone_number" />
            </div>

            <div class="role-reporting">
                <div class="col-md-5" id="input">
                    <label for="inputRole" class="form-label">Role</label>
                    <select id="inputRole" class="form-select" name="role">
                        <option>user</option>
                        <option>admin</option>
                        <option>superadmin</option>
                    </select>
                </div>

                <div class="col-md-5" id="input">
                    <label for="inputReporting" class="form-label">Reporting to</label>
                    <input type="number" class="form-control" id="inputReporting" name="reporting_to" />
                </div>
            </div>

            <div>
                <a class="btn btn-primary" id="edit-button" role="button">Edit</a>
                <a class="btn btn-primary" href="#" id="update-button" role="button">Update</a>
            </div>
        </form>
    </div>

    <div class="projects">
        <div class="projects-title">
            <p>Projects</p>
        </div>
        <div class="employee-projects"></div>
    </div>
</div>

<script src="/scripts/breadcrumb-nav.js"></script>