<div class="container" id="cards">
    <div class="card" id="card-div">
        <img src="/assets/svg's/add-user.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">My projects</h5>
            <a href="/api/project/projects?status=on-going&page=1&perPage=5" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card" id="card-div">
        <img src="/assets/svg's/users-group.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">Apply leave</h5>
            <a href="/api/leaves/addLeave" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card" id="card-div">
        <img src="/assets/svg's/project.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">My performance</h5>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div>
</div>