<div class="container" id="cards">
    <div class="card" id="card-div">
        <img src="/assets/svg's/add-user.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">Add new employee</h5>
            <a href="/api/employee/addEmployee" class="btn btn-primary">Add</a>
        </div>
    </div>

    <div class="card" id="card-div">
        <img src="/assets/svg's/users-group.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">View all employees</h5>
            <a href="/api/employee/viewAllEmployees?page=1&perPage=8" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card" id="card-div">
        <img src="/assets/svg's/project.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">View all projects</h5>
            <a href="/api/project/projects?status=on-going&page=1&perPage=5" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card" id="card-div">
        <img src="/assets/svg's/leave.svg" class="card-img-top" alt="Fissure in Sandstone" />
        <div class="card-body">
            <h5 class="card-title">Leave requests</h5>
            <a href="/api/leaves/viewAllLeaves?pending=true" class="btn btn-primary">View</a>
        </div>
    </div>
</div>

<script>
    document.title = 'Project Management Tool';
</script>