<div id="login">
    <div class="card" id="login-card">
        <div class="card-body">
            <form action="/api/auth/google">
                <h5 class="card-title">{{message}}</h5>
                <button type="submit" class="btn btn-primary">
                    Login with Google
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.title = 'Login Page';
</script>