* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#home {
  padding: 0px;
}

.employee-table {
  width: 100vw;
  height: 100vh;
  padding: 120px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.title p {
  font-size: 2rem;
  font-weight: 700;
}

.rating-cell{
  display: flex;
  justify-content: space-between;
  /* padding-right: 50px; */
}
