* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#home {
  padding: 0px;
}

#sucess {
  z-index: 100;
}

.employee-table {
  width: 100vw;
  height: 100vh;
  padding: 130px 120px 50px 120px;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.rating-cell {
  display: flex;
  justify-content: space-between;
  /* padding-right: 50px; */
}
