* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#home {
  padding: 0px;
}

#leave-card {
  min-width: 100%;
}

#leave-card div a {
  margin: 5px;
}

.leave-requests {
  width: 80vw;
  height: 70vh;
  padding: 0px 100px;
  position: absolute;
  top: 150px;
  left: 100px;
  overflow-y: scroll;
}

.heading-leaves {
  padding: 100px;
  /* margin: 100px; */
  display: flex;
  justify-content: end;
}
