* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#breadcrumb {
  position: absolute;
  top: 70px;
  left: 120px;
}

#home {
  padding: 0px;
}

#cards {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#card-div img {
  width: 250px;
  margin: 0px 10px;
}

.title p {
  font-size: 2rem;
  font-weight: 700;
}

#login {
  width: 100vw;
  height: 100vh;
  padding: 0px 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url('../assets/images/pmt-wallpaper.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  );
}

.new-employee {
  width: 100vw;
  height: 100vh;
  padding: 150px 120px;
}

#create-form {
  display: flex;
  flex-direction: row;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
}

#input-label {
  font-size: 1rem;
  margin-bottom: 0px;
}

#login-card {
  width: 20rem;
  height: fit-content;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 10rem;
}

#login-card > .card-body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
  align-items: center;
}

#login-card div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#apply-leave-form {
  width: 100%;
}

.leave-container {
  width: 100vw;
  height: 120vh;
  padding: 120px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-label {
  display: inline;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
